<link rel="stylesheet" type="text/css" href="https://phaidra-static.cab.unipd.it/stylesheets/css/unipdstyle.css">

<form method="post" action="inserimentointabellaimmaginimovio.php">
 :<br>
  
  <input type="text" name="immagine"><br>
  <input type="submit" value="send">
</form>